*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(226, 221, 230);
}

.navbar ul{
    list-style: none;
    /* float: right; */
    background-color: rgb(189, 136, 238);
    padding: 10px;
    height: 70px;
    width: 100%;
}

.navbar ul li{
    display: inline-block;
    margin-right: 22px;
}

.navbar ul li a{
    color:white;
    text-decoration: none;
    font-size: 20px;
}

.name{
    margin-left: 20px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    justify-content: center;
    
}

.col{
    float: left;
    width: 50%;
    padding: 10px;
    height: 550px;
}

.about:after {
    content: "";
    display: table;
    clear: both;
  }

  .imgs{
    margin-top: 30px;
    margin-left: 30px;
  }

  .col h1{
    margin-top: 30px;
    font-weight: bold;
    color: rgb(104, 29, 141);
    font-size: 40px;
    text-transform: uppercase;
    justify-content: center;
    
  }

  .col p{
    justify-content: center;
    line-height: 1.8;
    font-size: 20px;
    text-justify: inter-word;
  }

  .ach{
    margin-top: 30px;
  }